<p style="color: green"><%= notice %></p>

<h1>Investments</h1>

<div id="investments">
  <% @investments.each do |investment| %>
    <%= render investment %>
  <% end %>
</div>
<div>
  <%= button_to "New investment", new_group_investment_path, method: :get %>
</div>
<div>
  <%= button_to "Back to groups", groups_path, method: :get %>
</div>
