<%= render "form", investment: @investment %>
<br>
<div>
  <%= button_to "Back to investments", group_investments_path(params['group_id']), method: :get, class: "button is-light is-large is-fullwidth" %>
</div>
