<p style="color: green"><%= notice %></p>

<%= render @investment %>

<div>
  <%= button_to "Back to investments", investments_path, method: :get %>
</div>
<div>
  <%= button_to "Destroy this investment", @investment, method: :delete %>
</div>
