<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= button_to "Show the investments", group_investments_path(group), method: :get %>
    </p>
  <% end %>
</div>
<div>
  <%= button_to "New group", new_group_path, method: :get %>
</div>
