<p style="color: green"><%= notice %></p>

<div id="groups">
  <% @groups.each do |group| %>
    <div class="box">
      <%= render group %>
      <%= button_to "Show the investments", group_investments_path(group), {method: :get, class: "button is-link is-medium"} %>
    </div>
  <% end %>
</div>
<br>
<div>
  <%= button_to "New group", new_group_path, {method: :get, class: "button is-primary is-large"} %>
</div>
