<div class="container">
  <br><br>
  <div class="is-flex is-flex-grow-1 is-justify-content-center is-align-items-center pb-6">
    <p class="content title is-1">
      Investment<br>
      Budget<br>
      Application
    </h1>
  </div>
  <br><br><br>
	<div class="is-flex flex-direction-column size-is buttons px-5">
		<%= link_to "LOG IN", new_user_session_url, class: "button is-large is-fullwidth is-info" %>
		<%= link_to "SIGN UP", new_user_registration_url, class: "button is-large is-fullwidth" %>
	</div>
</div>
